/*TABLE OF CONTENTS*/
    /*nav
    Universal Styles
    Banner
    Products
    footer
    flexboxes
    blocks
        normal blocks
        timeline blocks
    grid layout for tutorials
    other
    product page styles
    responsive design changes
    */

/* nav*/
    @keyframes nav {
        0% {
         background-color: rgba(138, 197, 249, 0.5);
         color: rgb(2, 15, 26);   
        }
        50% {
        color: rgb(10, 54, 93);   
        }
        100% {
            color: rgb(10, 54, 93);  
            scale: 1.2;
        }
    }
    .nav {
        background-color: #C4E2FC;
        width: 100vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding:1%;
        box-sizing: border-box;
        max-width: 100vw;
    }
    .navItem {  
        text-align: center;
        vertical-align: middle;
        padding:1%;
    }
    .navItem:hover {
        animation: nav 90ms ease 0s 1 normal forwards;
    }
    .nav a {
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        padding:1%;
    }
    .nav a:link {
        color: rgb(2, 15, 26);   
    }
    .nav a:active {
        color: rgb(2, 15, 26);   
    }
    .nav a:visited {
        color: rgb(2, 15, 26);   
    }
    .logo {
        position: absolute;
        width:100px;
        vertical-align: middle;
        margin:1%;
        padding: 0.3%;
        background-color:#C4E2FC;
        border-radius: 50%;
    }


/* Universal Styles */
    figcaption {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:auto;
        justify-content: center;
        align-items: center;
    }
    iframe {
        padding: 2%;
        border-radius: 10%;
    }
    caption {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: 200%;
    }
    a {
        text-decoration: none;
    }
    body {  
        margin:0px;
        padding: 0px;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(2, 15, 26);  
        max-width: 100vw; 
        background-color: #E0E2E4; 
        overflow-x: hidden;
    }
    div {
        display: inline-block;               
    } 
    video {
        width:15vw;
        border-radius: 2%;
    }
    form, select, input {
        display: block;
    }
    select, input, textarea, button {
        border: none;
        padding: 2%;
        width: 100%;
        max-width: 100%;
        margin: 1%;
        border-radius: 5%;
        font-size: 100%;
        font-weight: bold;
        color: rgb(2, 15, 26);
    }
    button {
        background-color:#0e2234;
        color: aliceblue;
    }
    
    img {
        border-radius:0%;
        padding: 0%;
    }
    h3 {
        margin-top: 1%;
        margin-bottom: 5%;
    }
    li {
        padding:1%;
    }
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    tr, td, th {
        border: rgb(1, 10, 18) thick solid;
                
    }
    th {
        background-color:rgb(1, 10, 18);
        color: aliceblue;
        padding: 1%;
    }
    td {
        background-color: aliceblue;
        text-align: center;
        vertical-align: middle;
        padding: 1%;
    }
    table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        border: none;
    }
/* Banner */
    .banner {
        line-height: 300%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 50vh;
        background-image:linear-gradient(to bottom right, rgb(202, 227, 249),rgb(6, 37, 63));
        background-image: url(Images/SiteBack.jpg);
        font-size: 300%;
        -webkit-text-stroke-width: 2px; /* Outline width */
        -webkit-text-stroke-color: aliceblue; /* Outline color */
    }    


/*Products*/
    .card {
        width: 25vw;
        display: inline-block;
        background-color: aliceblue;
        padding:0%;
        margin: 1%;
        transition: background-color 400ms;
        border-radius: 2%;
        margin: 5% 5% 5% 5%;
    }
    .vcard {
        width: 25vw;
        height: 33vw;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0%;
        margin: 1%;
        transition: background-color 400ms;
        border-radius: 2%;
        margin: 5% 5% 5% 5%;
    }

    .card img {
        border-radius: 2% 2% 0% 0%;
    }
    div.card:hover {
        background-color: rgb(138, 189, 235);
    }
    
    .details {
        background-color: transparent;
        padding: 3%;
        font-weight: bolder;
    }
   
/*footer*/
    .footer {
        background-color: rgb(2, 22, 37);
        padding: 2%;
        color: aliceblue;
        width: 100vw;
        box-sizing: border-box;
    }
    .FooterList {
        list-style-type: none;
        column-count:3;
        column-rule: thin black solid;
        width: 80vw;
        padding: 1%;
        margin:auto;
        color: aliceblue; 
    }
    .FooterList a:link {
        color: aliceblue;   
    }
    .FooterList a:active {
        color: aliceblue;   
    }
    .FooterList a:visited {
        color: aliceblue;   
        
    }
    .FooterList a:hover {
        color: aliceblue;   
    }

/*flexboxes*/
    .flexc {
        display: inline-flex;
        flex-direction: column;
        padding: 2%;
        justify-content: center;
        align-items: center;
    }
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        width:80vw;
        margin:auto;
    }
    .flextl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:auto;
    }

/*blocks*/
    /*normal block*/
        .block {
        padding: 1%;
        margin: 1% 15% 1% 15%;
        overflow: auto;
        border-radius: 3%;
        clear: both;
    }
    .blockItem {
        padding: 1%;
        margin: 1%;
        
    }
    .blockItem img {
        border-radius: 35px;
    }
    
    .aliceblue {
        background-color: aliceblue;

    }
    .darkblue {
        background-color: rgb(102, 133, 160);
    }

/*timeline block*/
    .timeline {
        column-count: 2;
    }
    .year {
        font-size: 150%;
        font-weight: bolder;
        list-style-type: none;
        color: rgb(24, 43, 59);
        padding: 4%;
    }
    .month {
        font-size: 125%;
    }
    .timeline li {
        padding: 5px;
        padding-left: 1px;
    }
    .NoBullet {
        list-style-type: none;
    }
    .border {
        border: dashed rgb(3, 22, 38) thick;
    }
    
/*grid layout for tutorials*/
    .GridHead {
        grid-area: hd;
        text-align: center;
    }
    .GridSSide {
        grid-area: ss;
        padding:1% 5%;
        background-color: aliceblue;
        border-radius: 10%;
        margin: 3%;
        text-align: center;
    }
    .GridSSide2 {
        grid-area: ss2;
        padding:1% 5%;
        background-color: #0e2234;
        border-radius: 10%;
        margin: 3%;
        color: rgb(192, 218, 240);
    }
    
    .GridSSide a, .GridSSide2 a {
        display: inline-block;
        padding: 1%;
    }
    

    .sgrid {
        display: grid;
        margin: 0.5%;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "ss ss ss2 ss2 ss2 ss2"
        "ss ss ss2 ss2 ss2 ss2";
    }
/*other*/
    .center {
        vertical-align: center;
        justify-content: center;
    }
   .VideoTitle {
        font-size: 1px;
        margin: 1%;
    }
    .DarkBlueText a:link {
        color:rgb(2, 15, 26);      
    }
     .DarkBlueText a:active {
        color:rgb(2, 15, 26);      
    }
     .DarkBlueText a:visited {
        color:rgb(2, 15, 26);      
        
    }
     .DarkBlueText a:hover {
        color:rgb(2, 15, 26);      
    }

/*product page styles*/
    .product {
        padding: 1%; 
        margin: 1%; 
        overflow: auto;
        margin: 1%;
        max-width: 90%;
    }

    .pdescrip {
        float: right;
        max-width:33%;
        border-radius:2%;
        font-size: 24px;
    }


/*responsive design changes*/
    .PLScreen {
        display:relative;
    }
    .PSScreen {
        display: none;
    }
    
    


    
