

 /* nav*/
 @keyframes nav {
        0% {
         background-color: rgba(138, 197, 249, 0.5);
         color: rgb(2, 15, 26);   
        }
        50% {
        color: rgb(10, 54, 93);   
        }
        100% {
            color: rgb(10, 54, 93);  
            scale: 1.2;
        }
    }
    .nav {
        background-color: #C4E2FC;
        width: 100vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding:1%;
        box-sizing: border-box;
        max-width: 100vw;

    }
    

    .navItem {  
        text-align: center;
        vertical-align: middle;
        padding:1%;
    }
    .navItem:hover {
        animation: nav 90ms ease 0s 1 normal forwards;
    }
     .nav a {
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        padding:1%;

     }
     .nav a:link {
        color: rgb(2, 15, 26);   
     }
     .nav a:active {
        color: rgb(2, 15, 26);   
     }
     .nav a:visited {
        color: rgb(2, 15, 26);   
     }
    body {  
        margin:0px;
        padding: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(2, 15, 26);  
        max-width: 100vw; 
        background-color: rgb(228, 230, 231); 
        overflow-x: hidden;
}
/* Banner */
    .banner {
        line-height: 50vh;
        vertical-align: 80%;
        text-align: center;
        width: 100vw;
        height: 50vh;
        background-image:linear-gradient(to bottom right, rgb(202, 227, 249),rgb(6, 37, 63));
        background-image: url(Images/SiteBack.jpg);
        font-size: 400%;
        display: table-cell;
        
    }

 div {
                    display: inline-block;
                    /* background-color: aliceblue;
                    padding:0%;
                    margin: 1%;
                    transition: background-color 400ms;
                    border-radius: 0%; */
             
                    
                } 
                .card {
                    width: 25vw;
                    display: inline-block;
                    background-color: aliceblue;
                    padding:0%;
                    margin: 1%;
                    transition: background-color 400ms;
                    border-radius: 2%;
                    margin: 5% 5% 5% 5%;
                }
                .card img {
                    border-radius: 2% 2% 0% 0%;
                }
                div.card:hover {
                    background-color: rgb(138, 189, 235);
                }
                img {
                    
                    border-radius:0%;
                    padding: 0%;
                }
                h3 {
                    margin-top: 1%;
                    margin-bottom: 5%;
                }
            .details {
                background-color: transparent;
                padding: 3%;
                font-weight: bolder;
            }

            form, select, input {
                display: block;
            }
            select, input, textarea, button, input {
                border: none;
                padding: 2%;
                width: 100%;
                margin: 1%;
                border-radius: 5%;

            }
            

            .footer {
        background-color: rgb(2, 22, 37);
        padding: 2%;
        color: aliceblue;
        width: 100vw;
        box-sizing: border-box;
            }

        
            /*flexbox*/
        .flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:80vw;
            margin:auto



            
        }

        /*change for mobile*/
        .FooterList {
            list-style-type: none;
            column-count:3;
            column-rule: thin black solid;
            width: 80vw;
            padding: 1%;
            margin:auto;
            color: aliceblue;

            
        }
    .FooterList a:link {
        color: aliceblue;   
     }
     .FooterList a:active {
        color: aliceblue;   
     }
     .FooterList a:visited {
        color: aliceblue;   
        
     }
     .FooterList a:hover {
        color: aliceblue;   
        
     }
        li {
            padding:1%;
        }
        .logo {
            position: absolute;
            width:100px;
            vertical-align: middle;
            margin:1%;
            padding: 0.3%;
            background-color:#C4E2FC;
            border-radius: 50%;

        }
        .block {
        padding: 1%;
        margin: 1% 15% 1% 15%;
        overflow: auto;
        border-radius: 3%;
        clear: both;
    }
    .blockItem {
        padding: 1%;
        margin: 1%;
        
    }
    .blockItem img {
        border-radius: 35px;
    }
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .aliceblue {
        background-color: aliceblue;

    }
    .darkblue {
        background-color: rgb(102, 133, 160);
    }
    .timeline {
        column-count: 3;
          

    }
    .year {
        font-size: 150%;
        font-weight: bolder;
        list-style-type: none;
        color: rgb(24, 43, 59);
        padding: 4%;
    }
    .month {
        font-size: 125%;
    }
    .timeline li {
        /* list-style-type: none;  */
        padding: 5px;
        padding-left: 1px;

}
    .NoBullet {
        list-style-type: none;
    }

    table, tr, td, th {
        border: black thin solid;
        border-collapse: collapse;
    }
    .GridHead {
        grid-area: hd;
        text-align: center;
    }

    .GridSSide {
        grid-area: ss;
        padding:1% 5%;
        background-color: aliceblue;
        border-radius: 10%;
        margin: 3%;
        text-align: center;


    }
    .GridSSide2 {
        grid-area: ss2;
        padding:1% 5%;
        background-color: rgb(17, 92, 157);
        border-radius: 10%;
        margin: 3%;
        /* text-align: center; */
    }
    
    .GridSSide a, .GridSSide2 a {
        display: inline-block;
        padding: 1%;
    }
    .GridLSide  {
        grid-area: ls;
        display:inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        padding:1% 5%;
        background-color: rgb(21, 68, 108);
        border-radius: 10% / 10%;
        margin: 3%;
        max-width: 100vw;

    }
    .sgrid {
        display: grid;
        margin: 0.5%;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "ls ls ls ls ls ls"
        "ls ls ls ls ls ls"
        "ss ss ss2 ss2 ss2 ss2"
        "ss ss ss2 ss2 ss2 ss2";

    }

    .center {
        vertical-align: center;
        justify-content: center;
    }
    a {
        text-decoration: none;
    }

    .DarkBlueText a:link {
        color:rgb(2, 15, 26);      
     }
     .DarkBlueText a:active {
        color:rgb(2, 15, 26);      
     }
     .DarkBlueText a:visited {
        color:rgb(2, 15, 26);      
        
     }
     .DarkBlueText a:hover {
        color:rgb(2, 15, 26);      
}
    iframe {
        padding: 2%;
        border-radius: 10%;
    }
    
